In [86]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import feature_extraction, linear_model, model_selection, preprocessing
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import accuracy_score, confusion_matrix,classification_report

import nltk
import nltk as nlp
import string
import re

In [87]:
true = pd.read_csv("C:/Users/pjjay/Documents/MLCourse/datasets_Fake_News/True.csv")
fake = pd.read_csv("C:/Users/pjjay/Documents/MLCourse/datasets_Fake_News/Fake.csv")

In [88]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [89]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [90]:
fake['result'] = 'fake'

In [91]:
fake.head()

,title,text,subject,date,result
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",fake
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",fake
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",fake
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",fake
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",fake

In [92]:
true['result'] = 'true'

In [93]:
df = pd.concat([true,fake])

In [94]:
df['text'][0]

0    WASHINGTON (Reuters) - The head of a conservat...
0    Donald Trump just couldn t wish all Americans ...
Name: text, dtype: object

In [95]:
#Shuffle dataset

In [96]:
df = df.sample(frac=1)

In [97]:
df.head(10)

,title,text,subject,date,result
14012,Syrian opposition to form delegation to take p...,CAIRO (Reuters) - Syrian opposition will form ...,worldnews,"November 23, 2017",true
11677,“OPEN MINDED” LIBERALS Ban Trump-Supporting Ap...,In case you missed it Senator Marco Rubio gave...,politics,"Feb 12, 2017",fake
17799,“MAXINE WATERS IN A GLITTERY COWBOY HAT” Goes ...,The left is going ballistic over supposed word...,left-news,"Oct 18, 2017",fake
20397,[VIDEO] HOLLYWOOD ACTOR Scott Baio FED UP With...,I don t think there are too many people who wo...,left-news,"Jun 19, 2016",fake
8640,Democratic Party email leak points to Russia: ...,WASHINGTON (Reuters) - Cyber security experts ...,politicsNews,"July 25, 2016",true
8741,Saudi says hopes release of '28 pages' clears ...,WASHINGTON (Reuters) - Saudi Arabia welcomed o...,politicsNews,"July 15, 2016",true
5352,The Internet Isn’t Buying GOP Chair’s Blastin...,Former Ku Klux Klan leader David Duke is so en...,News,"July 23, 2016",fake
11393,"Mideast needs two-state solution, Pope says in...",VATICAN CITY (Reuters) - Pope Francis used his...,worldnews,"December 25, 2017",true
19781,Reuters surveys UK financial services jobs pos...,"LONDON (Reuters) - Around 10,000 finance jobs ...",worldnews,"September 18, 2017",true
7569,"School, infrastructure bond measures fill U.S....",CHICAGO/SAN FRANCISCO (Reuters) - U.S. voters ...,politicsNews,"November 4, 2016",true

In [98]:
#Check for null values

In [99]:
df.isna().sum()

title      0
text       0
subject    0
date       0
result     0
dtype: int64

In [100]:
df_fin = df.drop(['title', 'subject', 'date'], axis=1)

In [101]:
df_fin.head()

                                                    text result
14012  CAIRO (Reuters) - Syrian opposition will form ...   true
11677  In case you missed it Senator Marco Rubio gave...   fake
17799  The left is going ballistic over supposed word...   fake
20397  I don t think there are too many people who wo...   fake
8640   WASHINGTON (Reuters) - Cyber security experts ...   true

In [102]:
#Tokenization

In [103]:
# import SpaceTokenizer() method from nltk 
from nltk.tokenize import SpaceTokenizer

In [104]:
# Create a reference variable for Class SpaceTokenizer 
tk = SpaceTokenizer()

In [105]:
df_fin['tokenized_sents'] = df_fin.apply(lambda row: nltk.word_tokenize(row['text']), axis=1)

In [106]:
df_fin.head()

,text,result,tokenized_sents
14012,CAIRO (Reuters) - Syrian opposition will form ...,true,"[CAIRO, (, Reuters, ), -, Syrian, opposition, ..."
11677,In case you missed it Senator Marco Rubio gave...,fake,"[In, case, you, missed, it, Senator, Marco, Ru..."
17799,The left is going ballistic over supposed word...,fake,"[The, left, is, going, ballistic, over, suppos..."
20397,I don t think there are too many people who wo...,fake,"[I, don, t, think, there, are, too, many, peop..."
8640,WASHINGTON (Reuters) - Cyber security experts ...,true,"[WASHINGTON, (, Reuters, ), -, Cyber, security..."

In [107]:
from nltk.corpus import stopwords

In [108]:
stops = stopwords.words('english')

In [109]:
from nltk.stem import WordNetLemmatizer

In [110]:
lemmatizer = nltk.stem.WordNetLemmatizer()

In [111]:
def remove_stops(row):
    my_list = row['tokenized_sents']
    meaningful_words = [w for w in my_list if not w in stops]
    return (meaningful_words)

In [112]:
df_fin['sents_w_sw_removed'] = df_fin.apply(remove_stops, axis=1)

In [113]:
df_fin.head()

,text,result,tokenized_sents,sents_w_sw_removed
14012,CAIRO (Reuters) - Syrian opposition will form ...,true,"[CAIRO, (, Reuters, ), -, Syrian, opposition, ...","[CAIRO, (, Reuters, ), -, Syrian, opposition, ..."
11677,In case you missed it Senator Marco Rubio gave...,fake,"[In, case, you, missed, it, Senator, Marco, Ru...","[In, case, missed, Senator, Marco, Rubio, gave..."
17799,The left is going ballistic over supposed word...,fake,"[The, left, is, going, ballistic, over, suppos...","[The, left, going, ballistic, supposed, words,..."
20397,I don t think there are too many people who wo...,fake,"[I, don, t, think, there, are, too, many, peop...","[I, think, many, people, would, disagree, sent..."
8640,WASHINGTON (Reuters) - Cyber security experts ...,true,"[WASHINGTON, (, Reuters, ), -, Cyber, security...","[WASHINGTON, (, Reuters, ), -, Cyber, security..."

In [ ]:
#Train Test Split

In [67]:
x_train,x_test,y_train,y_test = train_test_split(df_fin['text'], df.result, test_size=0.2, random_state=2020)

In [ ]:
#The Pipeline with the CountVzer and the TFIDF Transformer

In [69]:
pipe = Pipeline([('vect', CountVectorizer()),
                 ('tfidf', TfidfTransformer()),
                 ('model', LogisticRegression())])

In [70]:
model = pipe.fit(x_train, y_train)
prediction = model.predict(x_test)

In [71]:
print("accuracy: {}%".format(round(accuracy_score(y_test, prediction)*100,2)))

accuracy: 98.74%

In [117]:
print(((classification_report(y_test, prediction))))

              precision    recall  f1-score   support

        fake       0.99      0.99      0.99      4762
        true       0.98      0.99      0.99      4218

    accuracy                           0.99      8980
   macro avg       0.99      0.99      0.99      8980
weighted avg       0.99      0.99      0.99      8980

In [80]:
model.predict(['MINSK (Reuters) - In the shadow of disused Soviet-era factories in Minsk, a street lined with eclectic bars, art galleries and yoga studios has become a haven from the vigilant eyes of the Belarussian authorities.  This place is like an island,  said Yegor, 21, who works at  popular bar Hooligan.  It s the street of freedom.  The government of President Alexander Lukashenko, who has ruled Belarus for the past 23 years and has boasted that he is  the last and only dictator in Europe  ,has little tolerance for any opposition. A powerful police force and feared state security  keep citizens in check. But police patrols are rare in Oktyabrskaya, partly due to its location on an out-of-the-way peninsula in a bend of the river Svislach. When the first restaurant opened there in 2012, few visitors came but now it ranks among the most fashionable quarters of Minsk.  Such is the growing popularity of that Oktyabrskaya that investors such as Belgazprombank, a subsidiary of state-owned Russian lender Gazprombank, have big plans for the district. Earlier this year the bank purchased part of a factory there and intends to turn it into a gallery, restaurant and theater complex. The manufacturing sector has not entirely abandoned Oktyabrskaya - one  machine-making factory named after the 1917 October Revolution (MZOR) still operates there. Financial difficulties prompted state-owned MZOR to lease or sell some of its facilities to Oktyabrskaya s developers, but the firm still maintains some production with a reduced workforce. Mikhail, who has worked at the factory for 42 years, said he approves of the influx of new  hipster  businesses.  The street has come back to life,  he said. Oktyabrskaya s long-term future ultimately depends on the authorities good favor, cultural analyst Maksim Zhbankov said.  For now they tolerate it. But I can t say that someone won t turn up tomorrow and say they ve decided to tear it all down,  he said. '])

array(['true'], dtype=object)

In [85]:
model.predict([''])

array(['fake'], dtype=object)